<h3><%= @target.capitalize %></h3>
<div>
  <% @parts.each do |p| %>
    <% if p.component.downcase == @target %>
      <p class = "selectable">
        <%= radio_button_tag @target, p.weight %>
	    <div class = "entry">
          <span class = "left left_space"><%= p.name.capitalize %></span>
		  <span class = "middle"><%= p.manufacturer.capitalize %></span>
	      <span class = "right right_space"><%= p.weight.to_s %></span>
        </div>
	  </p>
	<% end %>
  <% end %>
</div>