<div id = "accordion">
  <h3>Frame</h3>
  <div class = "selectable">
    <% @target = "frame" %>
    <%= render "part" %>
  </div>
  <h3>Fork</h3>
  <div>
    <% @target = "fork" %>
    <%= render "part" %>
  </div>
  <h3>Handlebars</h3>
  <div>
    <% @target = "handlebars" %>
    <%= render "part" %>  
  </div>
  <h3>Wheelset</h3>
  <div>
    <% @target = "wheelset" %>
    <%= render "part" %>  
  </div>
  <h3>Bottom Bracket</h3>
  <div>
    <% @target = "bottom_bracket" %>
    <%= render "part" %>  
  </div>
</div>
<script>
  $(function() {
    $('.selectable').selectable();
  });
</script>
<script>
  $(function() {
    $("#accordion").accordion();
  });
</script>